.mp-text-block {
  margin-bottom: 70px;

  @include mq(md) {
    color: black
  }
}

.mp-text-block__heading {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: none;

  @include mq(md) {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: black
  }
}

.mp-text-block__text {
  font-size: 18px;
  text-align: center;

  @include mq(md) {
    font-size: 14px;
    text-align: left;
  }

  p {
    margin-bottom: 30px;
    @include mq(md) {
      margin-bottom: 16px;
    }
  }
}

.advertise-block {
  margin-bottom: 70px;
}

.advertise__item {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
  a {
    display: block;
  }

  img {
    max-width: 100%;
    display: block;
  }
}