.common-block {
  @include px(30px);

  @include mq(md) {
    margin-bottom: 90px;
  }

  .posts-container {
    background-color: #8c0032;
    margin-bottom: 70px;

    @include mq(md) {
      margin-bottom: 0;
    }

    .page-name {
      background-color: #c2185b;
    }
  }
}


.most-wanted-block {
  background-color: #8c0032;
  position: relative;
  margin-bottom: 70px;

  @include mq(md) {
    margin-bottom: 0;
  }
  // height: 411px;
  
  .page-name {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 15px 15px 55px;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, .3));
  }

  p {
    margin-bottom: 0;
  }
}

.most-wanted__name {
  padding: 25px 25px 15px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  @include px(25px);
}

.most-wanted__description {
  padding: 20px 25px;
  @include px(25px);
}

.most-wanted-slider {
  &__item {
    .girl-image {
      @include bg-img(null);
      height: 190px;
      width: 100%;
    }
  }

}

.most-wanted-slider-js {
  .slick-next,
  .slick-prev {

  }
  .slick-next,
  .slick-prev {
    z-index: 10;
    width: 35px;
    height: 35px;
    background-color: #8c0032;
    transform: translate(0, 0);
    right: 0;
    border: 1px solid #ae0f4c;
  }
  .slick-next {
    // right: 0px;
    top: unset;
    bottom: 0;
  }
  .slick-prev {
    // left: 0px;
    top: unset;
    left: unset;
    bottom: 0;
    transform: translate(-100%, 0);
  }
  .slick-next:before,
  .slick-prev:before {
    font-family: 'FontAwesome';
    color: #c2185b;
  }
  .slick-next:before {
    content: '\f061';
  }
  .slick-prev:before {
    content: '\f060';
  }

  .slider-item {
    padding: 15px;
  }
}
