.embded-response-box {
  background-color:#8c0032;
  color: $font-color-main;
  // padding: 20px 20px 25px ;
  position: relative;
  
  .page-name {
    padding: 15px 15px 24px;
    background-color: #c2185b;
  }

  .response {
    padding: 15px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #c2185b;
    }

    &__quote {
      padding-top: 30px;
    }

    &__author {
      text-align: right;

      cite {
        font-style: normal;
      }
    }
  }
  .iconblock {
    position: absolute;
    // padding: 5px;
    right: 20px;
    top: 20px;
  }
  .pencil,
  .msgbox {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }
  .pencil {
    background-image: url(/img/icons/icon-pencil.png);
  }
  .msgbox {
    background-image: url(/img/icons/icon-chatbox.png);
  }
}


