.embded-response-box--mb {
  margin-bottom: 70px;
  border-bottom: 1px solid #aa1d50;
}

.embded-response-box {
  background-color:#8c0032;
  color: $font-color-main;
  // padding: 20px 20px 25px ;
  position: relative;
  
  @include mx(auto);
  max-width: 690px;

  @include mq(xl) {
    max-width: 990px;
  }
  
  &.m-width {
    // @include mx(auto);
    // max-width: 690px;

    // @include mq(xl) {
    //   max-width: 990px;
    // }
  }
  
  .page-name {
    padding: 15px 15px 45px;
    background-color: #c2185b;
  }

  .response {
    padding: 15px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #c2185b;
    }

    &__quote {
      padding-top: 30px;
    }

    &__author {
      text-align: right;

      cite {
        font-style: normal;
      }
    }
  }
  .iconblock {
    position: absolute;
    // padding: 5px;
    right: 20px;
    top: 20px;
  }
  .pencil,
  .msgbox {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }
  .pencil {
    background-image: url(/img/icons/icon-pencil.png);
  }
  .msgbox {
    background-image: url(/img/icons/icon-chatbox.png);
  }

  .resopnse-list-js {
    .slick-dots {
      top: -25px;
      bottom: unset;

      li.slick-active button:before {
        opacity: 1;
        background-color: #eebfd1;
      }
    }

    .slick-dots li button {
      width: 14px;
      height: 14px;

      &:before {
        width: 14px;
        height: 14px;
        border: 2px solid #eebfd1;
        background-color: transparent;
        opacity: 1;
        border-radius: 50%;
        content: '';
        transition: .3 all;
      }
    }
  }
}


