.body {
  position: relative !important;
}

.left-menu-button {
    background-color: white;
    top: 160px;
    left: 0;
    position: fixed;
    color: black;
    width: 70px;
    height: 70px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateX(-60%);
    text-align: right;
    z-index: 9999;
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    
    button {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        text-align: right;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        &::after {
            font-family: 'FontAwesome';
            color: #8c0032;
            font-size: 42px;
            content: '\f105';
        }
    }
}

.left-menu-button__wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.main-sidebar-close {
  top: 10px;
  right: 10px;
  position: absolute;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;

  @include mq(xl) {
    display: none;
  };
}

.main-sidebar-menu-js {
  display: none;
  transition: .3 all;

  &.visible {
    // width: 100vw;
    // height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    @include px(0);
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 10000;
    display: block;
  }
}
// .main-sidebar-close {
//   position: absolute;
//   right: 0;
//   top: 0;
//   color: black;
//   width: 20px;
//   font-size: 16px;
//   height: 20px;
//   padding: 2px 0;
//   text-align: center;
//   cursor: pointer;
// }

// .main-sidebar-menu-js.open {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   padding-left: 0;
//   padding-right: 0;
//   z-index: 10000;
//   @include mq(xl) {
//     position: static;
//     padding-left: 15px;
//     padding-right: 15px;
//     display: block;
//   }
// }

.main-sidebar-menu {
  background-color: #8c0032;
  position: relative;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  .page-name {
    padding: 25px 25px 60px;
    background-color: #c2185b;
  }
}

.sb-heading-main {
  background-color: #eed9e0;
  color: #8c0032;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 20px 20px;
  text-transform: uppercase;
}

.sb-heading-main__link {
  display: block;
  color: #8c0032;

  &:hover {
    color: #8c0032;
  }

  &[data-toggle="collapse"] {
    position: relative;
  }

  &[aria-expanded="false"]::before, &[aria-expanded="true"]::before {
      content: '\f0d7';
      color: #af4e71;
      display: block;
      position: absolute;
      top: -4px;
      right: 20px;
      font-family: 'FontAwesome';
      font-size: 16px;
  }

  &[aria-expanded="true"]::before {
      content: '\f0d8';
  }
}
.category-heading {
  font-size: 12px;
  font-weight: 500;
  padding-left: 45px;
  text-transform: capitalize;

  a {
    display: block;
    padding: 3px 0 14px;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      content: '\f0d7';
      color: #d5a2b4;
      display: block;
      position: absolute;
      top: -4px;
      right: 20px;
      font-family: 'FontAwesome';
      font-size: 16px;
  }

  a[aria-expanded="true"]::before {
      content: '\f0d8';
  }
}

.category-list {
  padding-left: 65px;
  overflow: hidden;
}

.category-list:not(:last-of-type()) {
  border-bottom: 3px solid #af0f4c;
}

.category-list__item {
  margin-bottom: 16px;
  text-transform: uppercase;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 5px;
    transform: translateX(-100%);
    display: inline-block;
    content: '-';
  }

  a {
    display: block;
  }
}
