.story-page {
  .page-name {
    color: black;
    margin-bottom: 30px;
  }
  
  .main-heading {
    margin-bottom: 10px;
  }
}

.story-long {
  .story__image:nth-of-type(even) {
    float: right;
  }
  .story__image:nth-of-type(odd) {
    float: left;
  }
}