.story-page {
  .page-name {
    color: black;
    margin-bottom: 30px;
  }
  
  .main-heading {
    margin-bottom: 10px;
  }
}

.story-long {
  margin-bottom: 40px;;
  @include mq(sm) {
    margin-bottom: 60px;
  }
  @include mq(md) {
    margin-bottom: 100px;
  }
  @include mq(lg) {
    margin-bottom: 140px;
  }
  p {
    font-size: rem(14px);
    color: black;
  }
  .story__image {
    width: 330px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    @include mq(sm) {
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-of-type(even) {
      @include mq(sm) {
        margin-left: 15px;
        float: right;
      }
    }

    &:nth-of-type(odd) {
      @include mq(sm) {
        margin-right: 15px;
        float: left;
      }
    }

    img {
      max-width: 100%;
    }
  }
}