.main-sidebar-right {
  margin-right: auto;
  background: 
url('../img/bubbles-sm.png') -15px -15px,
    linear-gradient(to left, #8c0032, #8c0032 65%, #c2185b 65%);
  padding-bottom: 20px;
  background-repeat: no-repeat;

  @include mq(xl) {
    max-width: 350px;
  }

  .page-name {
    font-weight: 400;
    padding: 20px 25px;
    margin-bottom: 20px;
  }

  .slider-item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .item-box {
    font-size: 12px;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .item-box__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    a {
      color: #a3395d;
    }
  }

  .girl {
    .item-box__info {
      align-items: center;
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: 400;
      // a {
      //   color: white !important;
      //   span {
      //     color: white !important;
      //   }
      // }
    }
  }

  .service {
    .item-box__info {
      align-items: center;
      justify-content: center;
      font-weight: 400;
      text-transform: capitalize;
    }
  }

  .story {
    .item-box__info {
      padding: 15px;
      a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
      }
      // a {
      //   color: white !important;
      //   font-weight: 400 !important;
      //   font-size: 12px !important;
      //   span {
      //     color: white !important;
      //   }
      // }
    }
  }

  .item-box__info {
    background-color: rgba(247, 107, 150, 0.7);
    min-height: 36px;
    max-height: 90px;
    width: 100%;
    display: flex;

    a {
      display: block;
      max-height: 90px;
    }
  }

}
