.stories.page-name {
  color: black;
}
.posts-container {
  .page-name {
    padding: 18px 18px 55px;
    font-weight: 400;

  }

  .post-item {
    background-color: #8c0032;
    &:not(:last-of-type) {
      border-bottom: 1px solid #c2185b;
    }
    &:not(:first-of-type) {
      border-top: 1px solid #a90d48;
    }
  }

  .post-info-container {
    padding-top: 7px;
    overflow: hidden; 
    height: 160px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    .title {
       margin-bottom: 30px;
      a {
        display: block;
      }
    }
  }

  background-color: #c2185b;

  // padding-left: 0;
  // padding-right: 0;

  .image {
    img {
      max-width: 100%;
    }
    width: 160px;
    height: 160px;
    float: left;
    // margin-right: 10px;
  }
}