.stories-page {
  margin-bottom: 90px;
}
.stories.page-name {
  color: white;

  @include mq(md) {
    color: black;
  }
}
.posts-container {
  // margin-bottom: 90px;
  border-left: 1px solid #ebc6d1;
  background-color: #c2185b;

  // &.services {
  //   .title {
  //       text-transform: uppercase;
  //   }
  // }

  .page-name {
    padding: 15px 15px 55px;
    font-weight: 400;
  }

  .post-item {
    background-color: #8c0032;
    &:not(:last-of-type) {
      border-bottom: 1px solid #c2185b;
    }
    &:not(:first-of-type) {
      border-top: 1px solid #a90d48;
    }
  }

  .post-info-container {
    padding-top: 7px;
    overflow: hidden; 
    height: 160px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    .title {
       margin-bottom: 20px;
      text-transform: uppercase;
      a {
        display: block;
        // text-transform: uppercase;
      }
    }
  }



  // padding-left: 0;
  // padding-right: 0;

  .image {
    img {
      max-width: 100%;
    }
    width: 160px;
    height: 160px;
    float: left;
    // margin-right: 10px;
  }
}