.social-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    @include mq(md) {
        z-index: 100;
    }

    @include mq(lg) {
        flex-direction: column;
        position: fixed;
        top: 125px;
        right: 0;
        background-color: #ca567e;
        padding: 15px 10px 15px 20px;
    }

    li:not(:last-of-type) {
        margin-right: 7px;

        @include mq(lg) {
            margin-right: 0;
            margin-bottom: 7px;
        }
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background-color: #deb3c3;
        background-color: white;
        transition: 0.3s all;

        @include mq(md) {
            background-color: #deb3c3;
        }

        @include mq(lg) {
        }

        &:hover {
            @include mq(md) {
                background-color: white;
                // background-color: #deb3c3;
            }

            @include mq(lg) {

            }
        }
    }

    .fa::before {
        color: #971443;
        font-size: 14px;
        @include mq(lg) {
            color: #ca567e;
        }
    }
}

.main-header {
    min-height: 57px;
    background-color: #c2185b;
    position: relative;

    @include mq(md) {
        // to move burger-icon navigation button to left,
        // when logo will be removed from flow with
        // position: absolute
        flex-direction: row-reverse;
        background-color: #8c0032;
    }
    @include mq(lg) {
        flex-direction: initial;
    }

    &__logo {
        @include mq(md) {
            position: absolute;
            left: 50%;
            top: 6px;
            transform: translate(-50%, 0);
            margin-right: 30px;
        }
        @include mq(lg) {
            position: static;
            transform: translate(45px, 0);
        }
        @include mq(xl) {
            // margin-right: 0;
        }
        .logo-image {
            position: relative;
            margin-right: auto;
            width: 100px;
            height: 58px;
            @include bg-img('../img/brand-logo-white.svg', contain);
        }
        .logo-image__lips {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 63px;
            height: 51px;
            transform: translate(80%, 80%);
            @include bg-img('../img/lips-white.png', contain);
        }

    }

    &__nav {
        // z-index: 1000;
        .navbar-nav {
        }
    }

    &__bottom-line {
        background-color: #8c0032;
        // box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.5);
        // box-shadow: 0 0 10px rgba(0,0,0,0.5);
        min-height: 99px;
        padding-top: 20px;
        padding-bottom: 68px;
        margin-bottom: 20;

        @include mq(md) {
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            padding-top: 0;
            padding-bottom: 0;
            background-color: #fce1ea;
        }
    }

    &__contacts {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;

        @include mq(md) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @include mq(xl) {
            padding-top: 0;
            padding-bottom: 0;
        }

        &,
        & a {
            @include mq(md) {
                color: black;
            }
            @include mq(xl) {
                color: white;
            }
        }

        .phone-icon {
            text-align: center;

            .fa-phone::before {
                font-size: 40px;
                color: #fa5788;
            }
        }

        .phone-number {
            font-size: 28px;
            font-weight: 300;
            position: relative;
            color: #fa5788;
            @include mq(md) {
                color: black;
            }
            @include mq(xl) {
                color: white;
            }
        }

        .phone-number span {
            @include mq(md) {
                position: absolute;
                top: 10px;
                left: 0;
                transform: translate(-110%, 0);
                font-size: 32px;
            }
        }

        .phone-links {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0 0 10px;

            @include mq(md) {
                justify-content: flex-start;
            }

            li:not(:last-of-type) {
                margin-right: 10px;
            }
        }

        ul li a {
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            padding-top: 0px;
        }

        ul li a:hover{
            color: white;
        }

    }

    &__social {
        background-color: transparent;
        display: flex;
        @include mq(md) {
            position: absolute;
            z-index: 100;
            top: 10px;
            left: 10px;
        }
        @include mq(xl) {
            position: fixed;
            top: 50px;
            right: 10px;
        }
    }
    &__multiling {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        @include mq(lg) {
            // align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0;

            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            text-transform: uppercase;
        }

        .lang-wrapper {
            flex-grow: 1;
            display: flex;
            align-items: stretch;

            a {
                display: flex;
                flex-grow: 1;
                align-items: stretch;
            }

            button {
                display: block;
                width: 100%;
                padding: 4px 12px;
                cursor: pointer;

                border: none;
                background: none;
                outline: none;

                color: white;
                transition: .3s background-color;

                @include mq(md) {
                    background-color: #a73b61;
                }

                @include mq(md) {

                }

                &.active,
                &:hover {
                    background-color: #cf94a9;
                    text-decoration: underline;
                }
            }
        }
    }

}

.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
}

.navbar-bottom{
}

/****************************/
/*      BUTTON ICON         */
/****************************/

.navbar {
  .navbar-toggler {
    outline: none;
  }
  .navbar-toggler-icon {
    .fa-bars::before {
      color: white;
    }
  }
}



.navbar-main {
    margin: auto;
}

.navbar-main li {
    padding: 0px 0px;
    border-bottom: 3px solid transparent;
    transition-property: border-bottom-color, background-color;
    transition-duration: .3s;
    background-color: #c2185b;
    @include mq(md) {
        background-color: #8c0032;
    }

    > a.nav-link,
    .navbar-expand-lg &  > a.nav-link {
     padding: 16px 15px 14px;
    }
}
.navbar-main li:hover,
.navbar-main li.active{
    border-color: #FFC1E3;
    background: #A3335B;
}
.navbar-main li a:hover{
    color: white;
    text-decoration: none;
}
