.main-header__social {
    background-color: transparent;
    display: flex;
    @include mq(md) {
        position: absolute;
        top: 20px;
        right: 10px;
    }
}

.social-list {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    li:not(:last-of-type) {
        margin-right: 7px;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background-color: #deb3c3;
        background-color: white;
        transition: 0.3s opacity;

        &:hover {
            background-color: #deb3c3;
            // opacity: .7;
        }
    }
    .fa::before {
        color: #971443;
        font-size: 14px;
    }
}

.main-header {
    min-height: 57px;
    background-color: #c2185b;
    @include mq(md) {
        background-color: #8c0032;
    }

    &__logo {
        .logo-image {
            // position: relative;
            margin-right: auto;
            width: 77px;
            height: 34px;
            @include bg-img('../img/brand-logo-white.svg', contain);
        }
        // .logo-image__lips {
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     width: 63px;
        //     height: 51px;
        //     transform: translate(80%, 80%);
        //     @include bg-img('../img/lips.png', contain);
        // }

    }

    &__nav {
        // z-index: 1000;
    }

    &__bottom-line {
        background-color: #8c0032;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        min-height: 60px;
        margin-bottom: 20px;
        padding-top:20px;
        padding-bottom: 68px;
        @include mq(md) {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #fce1ea;
        }
    }

    &__contacts {
        width: 250px;
        margin-left: auto;
        margin-right: auto;

        &,
        & a {
            @include mq(md) {
                color: black;
            }
        }

        .phone-number {
            font-size: 28px;
            position: relative;
        }

        .phone-number span {
            position: absolute;
            top: 12px;
            font-size: 40px;
            right: 260px;
        }

        .phone-links {
            display: flex;
            // justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0 0 10px;


            li:not(:last-of-type) {
                margin-right: 10px;
            }
        }

        ul li a {
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            padding-top: 0px;
        }

        ul li a:hover{
            color: white;
        }

    }

    &__social {
        background-color: transparent;
        display: flex;
        @include mq(md) {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

}

.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
}

.navbar-bottom{
}

/****************************/
/*      BUTTON ICON         */
/****************************/

.navbar {
  .navbar-toggler-icon {
    .fa-bars::before {
      color: white;
    }
  }
}



.navbar-main {
    margin: auto;
}

.navbar-main li {
    padding: 0px 0px;
    border-bottom: 3px solid transparent;
    transition-property: border-bottom-color, background-color;
    transition-duration: .3s;
    background-color: #c2185b;
    @include mq(md) {
        background-color: #8c0032;
    }

    > a.nav-link,
    .navbar-expand-lg &  > a.nav-link {
     padding: 16px 16px 14px;
    }
}
.navbar-main li:hover,
.navbar-main li.active{
    border-color: #FFC1E3;
    background: #A3335B;
}
.navbar-main li a:hover{
    color: white;
    text-decoration: none;
}
