.subheading-main,
.heading-main,
.page-name {
  margin: 0;
  text-transform:  uppercase;
  font-family: Roboto;
  font-weight: 500;
}

.subheading-main {
  font-size: 16px;
}

.heading-main {
  font-size: 20px;
}

.page-name {
  // padding-top: .5em;
  font-size: 16px;
  padding-bottom: .8em;
}

.site-wrapper {
  max-width: 1690px;
  margin-left: auto;
  margin-right: auto;
}

.main-center-col {

}

.dir-tree-links {
  margin-bottom: 20px;
  margin-top: 20px;

  @include mq(md) {
    color: black;
  }
  
  a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;

    @include mq(md) {
      color: black;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1300px) {
  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-flex {
    display: flex !important;
  }
}

.px-to-md-0 {
  @include mq-to(md) {
    @include px(0);
  }
}

.max-width-main {
  max-width: 1090px;
  @include mx(auto);
}

%col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xl-21p {
  @extend %col;

  @include mq(xl) {
    flex: 0 0 21%;
    max-width: 21%
  }
}
.col-xl-58p {
  @extend %col;
  
  @include mq(xl) {
    flex: 0 0 58%;
    max-width: 85%
  }
}
