.subheading-main,
.heading-main,
.page-name {
  margin: 0;
  text-transform:  uppercase;
  font-family: Roboto;
  font-weight: 500;
}

.subheading-main {
  font-size: 16px;
}

.heading-main {
  font-size: 20px;
  padding: 1.8em 0;
}

.page-name {
  // padding-top: .5em;
  padding-bottom: .8em;
}

.site-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.main-center-col {

}

.dir-tree-links {
  margin-top: 70px;
  margin-bottom: 20px;
  color: black;
  
  a {
    color:black;
    font-size: 14px;
    font-weight: 400;
  }
}
