// $color-primary: #afc;


$pink-dark: #8c0032;
$pink-normal: #c2185b;
$pink-light: #fa5788;
$pink-white: #eed9e0;
$font-color-main: $pink-white;

$font-family-primary: 'Roboto', Helvetica, sans-serif;
$base-font-size: 16px;
$bg-color: #f48fb1;
