// $color-primary: #afc;
$pink-dark: #8c0032;
$pink-normal: #c2185b;
$pink-light: #fa5788;
$font-color-main: #eed9e0;

$font-family-primary: '', Helvetica, sans-serif;
$base-font-size: 16px;
$bg-color: $pink-dark;
