.infobox-main {
    background-color: #c2185b;
}

.pagination li a, .pagination li span{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #8c0032;
  border-radius: 4px;
  margin: 5px;
}
.pagination li.active a{
    background-color: #8c0032;
}

.top-form-how-to-order {
    .page-name {
        @include px(0);
    }
    @include px(30px);
}

.booking-page {
    .top-form {
        @include mq(xl) {
            margin-bottom: 60px;
        }
    }
}
