.infobox-main {
    background-color: #c2185b;
}

.pagination li a, .pagination li span{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #8c0032;
  border-radius: 4px;
  margin: 5px;
}
.pagination li.active a{
    background-color: #8c0032;
}

.top-form-how-to-order {
    .page-name {
        @include px(0);
    }
    @include px(30px);
}

.booking-page {
    .top-form {
        @include mq(xl) {
            margin-bottom: 60px;
        }
    }
}

.video-block {
    margin-bottom: 40px;

    video {
        max-width: 100%;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
        @include mq(md) {
            color: black;
        }
    }

}

@mixin bubbles($x: 0, $y: 0) {
    background-color: transparent;
    background-image: 
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg'),
        url('../img/buble.svg');

    // background-position: 
    //     0px  0px,
    //     90px 4px,
    //     170px -5px,
    //     336px 10px,
    //     413px 33px,
    //     523px 23px,
    //     523px 23px,
    //     400px 107px,
    //     239px 106px,
    //     315px 175px,
    //     315px 175px,
    //     0px 0px;
    background-position: 
        $x + 0px  $y + 0px,
        $x + 90px $y + 4px,
        $x + 170px $y + -5px,
        $x + 336px $y + 10px,
        $x + 413px $y + 33px,
        $x + 523px $y + 23px,
        $x + 523px $y + 23px,
        $x + 400px $y + 107px,
        $x + 239px $y + 106px,
        $x + 315px $y + 175px,
        $x + 315px $y + 175px,
        $x + 0px $y + 0px;

    background-size:
        125px,
        104px,
        123px,
        102px,
        90px,
        46px,
        46px,
        80px,
        147px,
        107px,
        107px,
        0;

    background-repeat: no-repeat;
}

body {
    position: relative;
    @include bubbles(60px, 50px);
}

.bubbles {
    // height: 400px;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1000;
    // opacity: .3;
}
