.application-ask {
  background-color: #8c0032;
  padding: 30px;

  .msg-block {
    font-size: 16px;
    margin-bottom: 15px;
    p {
      // text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .image {
    background-image: url(../img/Lena.png);
    height: 290px;
    width: 290px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    // border-radius: 50%;
  }

  .msg-block-wrap {
  }
}

