.top-form {
  background-color: #c2185b;

  padding: 30px;

  .page-name {
    font-size: 24px;
  }

  .heading-main {
    font-weight: 400;
    padding-top: .4em;
    padding-bottom: .8em;
  }

  .text {
    font-size: 20px;
  }

  form  {
    > .row {
      > div {
        margin-bottom: 24px;
      }
      > span {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
      }
    }

    input::placeholder,
    textarea::placeholder {
      color: white;

    }

    input[type=email]:focus,
    input[type=text]:focus,
    textarea:focus {
      outline: none;
    }

    input[type=email],input[type=text],
    textarea {
      width: 100%;
      padding: 15px 20px;
      border: none;
      background-color: #fa5788;
      color: white;
    }

    .upload-photo {
      .title {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

  }

  .upload-photo {
    .upload-label {
      box-shadow: 0 0 2px rbga(0, 0, 0, .3);
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      background-color: #eed9e0;
      color: black;
      font-size: 18px;
    }
    .upload-input {
      display: none;
    }
  }

  .submit {
    button {
      border: none;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      background-color: #eed9e0;
      color: black;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

