.main-info-box {
  color: black;
  margin-bottom: 80px;

  p {
    a {
      color: inherit;
      text-decoration: underline;
    }
    
    font-size: 12px;
  }
}

.info-box__heading {
  font-size: 20px;
}
