html,
body {
    min-height: 100vh;
    background: #F48FB1;
    color: white;
}
a{
    color: white;
}

.no-margin{
    margin: 0px;
}
/************************/
        /*Navbar*/
/************************/

