.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

html {
  font-size: 12px; }

html,
body {
  margin: 0; }

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 300;
  background-color: #8c0032; }
  @media only screen and (min-width: 768px) {
    body {
      background-color: #f48fb1; } }

h1,
h2,
h3 {
  font-weight: 400; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

input,
textarea,
select,
button,
label {
  font-size: 1rem;
  font-family: "Roboto", Helvetica, sans-serif; }

input,
textarea {
  font-weight: 300; }

a {
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

img {
  max-width: 100%; }

.subheading-main,
.heading-main,
.page-name {
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500; }

.subheading-main {
  font-size: 16px; }

.heading-main {
  font-size: 20px; }

.page-name {
  font-size: 16px;
  padding-bottom: .8em; }

.site-wrapper {
  max-width: 1690px;
  margin-left: auto;
  margin-right: auto; }

.dir-tree-links {
  margin-bottom: 20px;
  margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .dir-tree-links {
      color: black; } }
  .dir-tree-links a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300; }
    @media only screen and (min-width: 768px) {
      .dir-tree-links a {
        color: black; } }

.no-scroll {
  overflow: hidden; }

@media (min-width: 1300px) {
  .d-xxl-block {
    display: block !important; }
  .d-xxl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media only screen and (max-width: 767px) {
  .px-to-md-0 {
    padding-left: 0;
    padding-right: 0; } }

.max-width-main {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto; }

.col-xl-21p, .col-xl-58p {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media only screen and (min-width: 1200px) {
  .col-xl-21p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
            flex: 0 0 21%;
    max-width: 21%; } }

@media only screen and (min-width: 1200px) {
  .col-xl-58p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%;
    max-width: 58%; } }

.main-page-upper-box {
  margin-bottom: 60px; }

.main-slider-container {
  color: #ffffff;
  background-color: #c2185b;
  margin-left: auto;
  margin-right: auto; }
  .main-slider-container .subheading-main {
    padding: 15px; }
  .main-slider-container .slick-next,
  .main-slider-container .slick-prev {
    z-index: 10;
    width: 45px;
    height: 45px;
    background-color: #8c0032; }
  .main-slider-container .slick-next {
    right: 0px; }
    @media only screen and (min-width: 1200px) {
      .main-slider-container .slick-next {
        right: -65px; } }
  .main-slider-container .slick-prev {
    left: 0px; }
    @media only screen and (min-width: 1200px) {
      .main-slider-container .slick-prev {
        left: -65px; } }
  .main-slider-container .slick-next:before,
  .main-slider-container .slick-prev:before {
    font-family: 'FontAwesome';
    color: #c2185b; }
  .main-slider-container .slick-next:before {
    content: '\f061'; }
  .main-slider-container .slick-prev:before {
    content: '\f060'; }
  .main-slider-container .slider-item {
    padding: 15px; }

.new-girls-slider {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0; }
  @media only screen and (min-width: 768px) {
    .new-girls-slider {
      padding-left: 40px;
      padding-right: 40px; } }
  .new-girls-slider .girl-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .new-girls-slider .girl-card {
        height: 350px; } }
    @media only screen and (min-width: 1200px) {
      .new-girls-slider .girl-card {
        height: 440px; } }
    .new-girls-slider .girl-card__photo {
      max-width: 100%; }
    .new-girls-slider .girl-card__name {
      display: inline-block;
      width: 100%;
      padding: 1.25rem;
      background-color: #fa5788;
      font-size: 1rem;
      color: #ffffff;
      text-transform: uppercase; }

.last-response {
  background-color: #8c0032;
  color: #ffffff;
  padding: 20px 20px 25px;
  position: relative; }

.last-response .iconblock {
  position: absolute;
  right: 20px;
  top: 20px; }

.last-response .pencil,
.last-response .msgbox {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.last-response .pencil {
  background-image: url(/img/icons/icon-pencil.jpg); }

.last-response .msgbox {
  background-image: url(/img/icons/icon-chatbox.jpg); }

.response__quote {
  padding-top: 30px; }

.response__author {
  text-align: right; }
  .response__author cite {
    font-style: normal; }

.mp-content {
  margin-bottom: 70px; }

.heading-main {
  margin-bottom: 30px;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .heading-main {
      color: black; } }

.items-block {
  color: black; }
  .items-block__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    -webkit-transition: .5s opacity;
    transition: .5s opacity; }
    .items-block__item:hover .items-block__link {
      opacity: .4; }
  .items-block__item {
    height: 320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .items-block__item {
        height: 350px; } }
    @media only screen and (min-width: 1200px) {
      .items-block__item {
        height: 440px; } }
    .items-block__item:hover .info-card .add-button {
      opacity: 1; }
    .items-block__item .info-card {
      width: 86%;
      margin-left: 7%;
      position: absolute;
      bottom: 0;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
      font-size: 1rem;
      color: white; }
      .items-block__item .info-card .wrapper {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        background-color: #fa5788;
        padding: 15px 20px;
        max-height: 180px;
        min-height: 154px;
        overflow: hidden;
        position: relative; }
        .items-block__item .info-card .wrapper::after {
          display: block;
          height: 15px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          background-color: #fa5788; }
      .items-block__item .info-card a {
        font-size: 1rem;
        color: white;
        font-weight: 400; }

.info-card {
  width: 100%;
  height: 200px;
  font-size: 1rem; }
  .info-card__name {
    text-align: center; }
    .info-card__name a {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 2px;
      padding-bottom: 2px;
      text-transform: uppercase;
      -webkit-transition: .3 color;
      transition: .3 color; }
      .info-card__name a:hover {
        color: #fdc7d4; }
      .info-card__name a .add-button {
        -webkit-transition: .3s opacity;
        transition: .3s opacity;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transform: translate(140%, 1px);
                transform: translate(140%, 1px);
        opacity: 0; }
  .info-card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 0;
    text-transform: uppercase; }
  .info-card__more-info {
    line-height: 1.1;
    text-overflow: ellipsis;
    font-size: 1rem;
    min-height: 1em; }

.embded-response-box--mb {
  margin-bottom: 70px;
  border-bottom: 1px solid #aa1d50; }

.embded-response-box {
  background-color: #8c0032;
  color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 690px; }
  @media only screen and (min-width: 1200px) {
    .embded-response-box {
      max-width: 990px; } }
  .embded-response-box .page-name {
    padding: 15px 15px 45px;
    background-color: #c2185b; }
  .embded-response-box .response {
    padding: 15px; }
    .embded-response-box .response:not(:last-of-type) {
      border-bottom: 1px solid #c2185b; }
    .embded-response-box .response__quote {
      padding-top: 30px; }
    .embded-response-box .response__author {
      text-align: right; }
      .embded-response-box .response__author cite {
        font-style: normal; }
  .embded-response-box .iconblock {
    position: absolute;
    right: 20px;
    top: 20px; }
  .embded-response-box .pencil,
  .embded-response-box .msgbox {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px; }
  .embded-response-box .pencil {
    background-image: url(/img/icons/icon-pencil.png); }
  .embded-response-box .msgbox {
    background-image: url(/img/icons/icon-chatbox.png); }
  .embded-response-box .resopnse-list-js .slick-dots {
    top: -25px;
    bottom: unset; }
    .embded-response-box .resopnse-list-js .slick-dots li.slick-active button:before {
      opacity: 1;
      background-color: #eebfd1; }
  .embded-response-box .resopnse-list-js .slick-dots li button {
    width: 14px;
    height: 14px; }
    .embded-response-box .resopnse-list-js .slick-dots li button:before {
      width: 14px;
      height: 14px;
      border: 2px solid #eebfd1;
      background-color: transparent;
      opacity: 1;
      border-radius: 50%;
      content: '';
      -webkit-transition: .3 all;
      transition: .3 all; }

.mp-text-block {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 690px; }
  @media only screen and (min-width: 768px) {
    .mp-text-block {
      color: black; } }
  @media only screen and (min-width: 1200px) {
    .mp-text-block {
      max-width: 990px; } }

.mp-text-block__heading {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: none; }
  @media only screen and (min-width: 768px) {
    .mp-text-block__heading {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      color: black; } }

.mp-text-block__text {
  font-size: 18px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .mp-text-block__text {
      font-size: 14px;
      text-align: left; } }
  .mp-text-block__text p {
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) {
      .mp-text-block__text p {
        margin-bottom: 16px; } }

.advertise-block {
  margin-bottom: 70px; }

.advertise__item {
  width: 600px;
  max-width: 100%;
  margin: 0 auto; }
  .advertise__item:not(:last-of-type) {
    margin-bottom: 15px; }
  .advertise__item a {
    display: block; }
  .advertise__item img {
    max-width: 100%;
    display: block; }

.common-block {
  padding-left: 30px;
  padding-right: 30px; }
  @media only screen and (min-width: 768px) {
    .common-block {
      margin-bottom: 90px; } }
  .common-block .posts-container {
    margin-bottom: 70px;
    overflow: hidden;
    background-color: #8c0032; }
    @media only screen and (min-width: 768px) {
      .common-block .posts-container {
        margin-bottom: 0; } }
    .common-block .posts-container .page-name {
      background-color: #c2185b; }
    @media only screen and (min-width: 1400px) {
      .common-block .posts-container .image {
        width: 200px;
        height: 200px; } }
    @media only screen and (min-width: 1400px) {
      .common-block .posts-container .post-info-container {
        height: 200px; } }

.most-wanted-block {
  background-color: #8c0032;
  position: relative;
  margin-bottom: 70px; }
  @media only screen and (min-width: 768px) {
    .most-wanted-block {
      margin-bottom: 0; } }
  .most-wanted-block .page-name {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 15px 15px 55px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.3)));
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3)); }
  .most-wanted-block p {
    margin-bottom: 0; }

.most-wanted__name {
  padding: 25px 25px 15px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px; }

.most-wanted__description {
  padding: 20px 25px;
  padding-left: 25px;
  padding-right: 25px; }

.most-wanted-slider__item .girl-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  width: 100%; }
  @media only screen and (min-width: 1400px) {
    .most-wanted-slider__item .girl-image {
      height: 250px; } }

.most-wanted-slider-js .slick-next,
.most-wanted-slider-js .slick-prev {
  z-index: 10;
  width: 35px;
  height: 35px;
  background-color: #8c0032;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  right: 0;
  border: 1px solid #ae0f4c; }

.most-wanted-slider-js .slick-next {
  top: unset;
  bottom: 0; }

.most-wanted-slider-js .slick-prev {
  top: unset;
  left: unset;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0); }

.most-wanted-slider-js .slick-next:before,
.most-wanted-slider-js .slick-prev:before {
  font-family: 'FontAwesome';
  color: #c2185b; }

.most-wanted-slider-js .slick-next:before {
  content: '\f061'; }

.most-wanted-slider-js .slick-prev:before {
  content: '\f060'; }

.most-wanted-slider-js .slider-item {
  padding: 15px; }

.most-wanted-block--expanded {
  position: relative;
  margin-bottom: 70px; }
  .most-wanted-block--expanded .most-wanted-block {
    background-color: transparent; }
  .most-wanted-block--expanded .most-wanted__name {
    background-color: #8c0032; }
  .most-wanted-block--expanded .most-wanted__description {
    background-color: #8c0032; }
  .most-wanted-block--expanded .page-name {
    position: absolute;
    text-align: center;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 15px 15px 55px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.3)));
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3)); }
  .most-wanted-block--expanded p {
    margin-bottom: 0; }

.most-wanted-new-slider-js {
  background-color: none;
  height: 250px; }
  .most-wanted-new-slider-js img {
    display: none;
    height: 200px;
    width: 400px;
    top: unset !important;
    bottom: 0 !important; }

.most-wanted__name {
  padding: 25px 25px 15px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px; }

.most-wanted__description {
  padding: 20px 25px;
  padding-left: 25px;
  padding-right: 25px; }

.most-wanted-slider__item .girl-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 190px;
  width: 100%; }
  @media only screen and (min-width: 1400px) {
    .most-wanted-slider__item .girl-image {
      height: 250px; } }

.stories-list-js .slick-next,
.stories-list-js .slick-prev {
  z-index: 10;
  width: 35px;
  height: 35px;
  background-color: #8c0032;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  right: 0;
  border: 1px solid #ae0f4c; }

.stories-list-js .slick-next {
  top: 0; }

.stories-list-js .slick-prev {
  left: unset;
  top: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%); }

.stories-list-js .slick-next:before,
.stories-list-js .slick-prev:before {
  font-family: 'FontAwesome';
  color: #c2185b; }

.stories-list-js .slick-next:before {
  content: '\f061'; }

.stories-list-js .slick-prev:before {
  content: '\f060'; }

.stories-list-js .slider-item {
  padding: 15px; }

.top-form {
  background-color: #c2185b;
  padding: 15px;
  font-size: 14px; }
  .top-form .form-control {
    margin-bottom: 24px;
    border-radius: 0; }
    .top-form .form-control:focus {
      -webkit-box-shadow: 0 0 0 transparent;
              box-shadow: 0 0 0 transparent; }
  .top-form p {
    margin-bottom: 14px; }
  .top-form .page-name {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px; }
  .top-form .heading-main {
    font-weight: 400;
    padding-top: .4em;
    padding-bottom: .8em;
    color: white; }
  .top-form .text {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px; }
  .top-form form > .row > span {
    padding-left: 15px;
    padding-right: 15px;
    display: block; }
  .top-form form input::-webkit-input-placeholder,
  .top-form form textarea::-webkit-input-placeholder {
    color: white; }
  .top-form form input:-ms-input-placeholder,
  .top-form form textarea:-ms-input-placeholder {
    color: white; }
  .top-form form input::-ms-input-placeholder,
  .top-form form textarea::-ms-input-placeholder {
    color: white; }
  .top-form form input::placeholder,
  .top-form form textarea::placeholder {
    color: white; }
  .top-form form input[type=email]:focus,
  .top-form form input[type=text]:focus,
  .top-form form textarea:focus {
    outline: none; }
  .top-form form input[type=email], .top-form form input[type=text],
  .top-form form textarea {
    width: 100%;
    padding: 16px 18px;
    border: none;
    background-color: #fa5788;
    color: white; }
  .top-form form .upload-photo .title {
    font-size: 16px;
    margin-bottom: 15px; }
  .top-form .upload-photo .upload-label {
    -webkit-box-shadow: 0 0 2px rbga(0, 0, 0, 0.3);
            box-shadow: 0 0 2px rbga(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #eed9e0;
    color: black;
    font-size: 14px; }
  .top-form .upload-photo .upload-input {
    display: none; }
  .top-form .submit button {
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: #eed9e0;
    color: black;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; }

.application-ask {
  background-color: #8c0032;
  padding: 30px; }
  .application-ask .msg-block {
    font-size: 16px;
    margin-bottom: 15px; }
    .application-ask .msg-block p {
      margin-bottom: 0; }
  .application-ask .image {
    background-image: url(../img/cat-small.jpg);
    height: 290px;
    width: 290px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%; }

.girl-info {
  padding: 15px 15px 30px;
  background-color: #c2185b;
  margin-bottom: 80px; }

.girl-info__title {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  text-transform: uppercase; }
  .girl-info__title > a {
    font-weight: 400; }

.girl-info__card {
  margin-top: 45px;
  font-weight: 300; }

.card__photo-section {
  padding-left: 0;
  padding-right: 0; }
  .card__photo-section .photo {
    height: 340px;
    background-position: center;
    background-size: cover; }

.card__info-list ul {
  padding-left: 0;
  margin-left: 0; }

.info-list__item {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fa5788;
  padding: 10px 20px;
  list-style-type: none;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card__description {
  padding: 20px 0; }

.articles-box {
  padding-top: 15px;
  background-color: #c2185b;
  margin-bottom: 80px; }
  .articles-box__title {
    padding-left: 30px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase; }

.articles__list ul {
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0; }
  .list-item:not(:last-of-type) {
    border-bottom: 2px solid #c2185b; }
  .list-item .photo {
    -ms-flex-preferred-size: 155px;
        flex-basis: 155px;
    max-width: 155px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 155px;
    height: 155px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .list-item .article {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 155px;
    overflow: hidden; }

.article {
  background-color: #8c0032; }
  .article__title {
    padding: 10px 10px 0;
    text-transform: uppercase;
    font-size: 16px; }
  .article__text {
    font-size: 12px;
    font-weight: 300;
    padding: 5px 10px 10px; }

.main-info-box {
  color: black;
  margin-bottom: 80px; }
  .main-info-box p {
    font-size: 12px; }

.info-box__heading {
  font-size: 20px; }

.bottom-items-slider {
  padding: 12px 30px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8c0032), color-stop(35%, #8c0032), color-stop(35%, #c2185b));
  background-image: linear-gradient(to top, #8c0032, #8c0032 35%, #c2185b 35%);
  border-bottom: 1px solid #96043a; }
  @media only screen and (min-width: 992px) {
    .bottom-items-slider {
      padding: 45px 100px;
      margin-top: 90px;
      margin-bottom: 90px; } }
  .bottom-items-slider .item-box {
    font-size: 12px;
    font-weight: 400;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .bottom-items-slider .item-box__title {
    height: 36px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bottom-items-slider .item-box__title a {
      color: #a3395d; }
  .bottom-items-slider .girl .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px; }
  .bottom-items-slider .service .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .bottom-items-slider .story .item-box__info {
    padding: 15px; }
    .bottom-items-slider .story .item-box__info a {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
  .bottom-items-slider .item-box__info {
    background-color: rgba(247, 107, 150, 0.7);
    min-height: 36px;
    max-height: 90px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .bottom-items-slider .item-box__info a {
      display: block;
      max-height: 90px; }
  .bottom-items-slider .slick-next,
  .bottom-items-slider .slick-prev {
    width: 45px;
    height: 45px;
    background-color: #8c0032; }
  .bottom-items-slider .slick-next {
    right: -45px; }
    @media only screen and (min-width: 992px) {
      .bottom-items-slider .slick-next {
        right: -128px; } }
  .bottom-items-slider .slick-prev {
    left: -45px; }
    @media only screen and (min-width: 992px) {
      .bottom-items-slider .slick-prev {
        left: -128px; } }
  .bottom-items-slider .slick-next:before,
  .bottom-items-slider .slick-prev:before {
    font-family: 'FontAwesome';
    color: #c2185b; }
  .bottom-items-slider .slick-next:before {
    content: '\f061'; }
  .bottom-items-slider .slick-prev:before {
    content: '\f060'; }

.error-page {
  padding-top: 90px;
  padding-bottom: 90px; }
  .error-page .error-box {
    color: #c04372;
    width: 160px;
    height: 160px;
    background-color: white;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
    font-weight: 500; }
    .error-page .error-box:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
      background-color: white;
      position: absolute;
      z-index: -100; }
    .error-page .error-box .heading {
      font-size: 44px; }
    .error-page .error-box .text {
      font-size: 18px; }
  .error-page .error-msg {
    font-size: 18px;
    padding-left: 20px;
    border-left-color: white;
    border-left-style: solid;
    border-width: 0; }
    .error-page .error-msg .heading {
      font-size: 20px;
      font-weight: 500; }
  .error-page a {
    font-weight: 500;
    border-bottom: 2px solid white; }

.page-contacts {
  background-color: #c2185b; }
  .page-contacts .msg-block p {
    font-weight: 300; }
  .page-contacts .contacts-page__phone {
    font-weight: 300;
    font-size: 24px; }
    .page-contacts .contacts-page__phone p {
      font-size: 18px;
      text-transform: none; }

.stories-page {
  margin-bottom: 90px; }

.stories.page-name {
  color: white; }
  @media only screen and (min-width: 768px) {
    .stories.page-name {
      color: black; } }

.posts-container {
  background-color: #c2185b; }
  @media only screen and (min-width: 768px) {
    .common-block .posts-container {
      border-left: 1px solid #ebc6d1; } }
  .posts-container .page-name {
    padding: 15px 15px 55px;
    font-weight: 400; }
  .posts-container .post-item {
    background-color: #8c0032; }
    .posts-container .post-item:not(:last-of-type) {
      border-bottom: 1px solid #c2185b; }
    .posts-container .post-item:not(:first-of-type) {
      border-top: 1px solid #a90d48; }
  .posts-container .post-info-container {
    padding-top: 7px;
    overflow: hidden;
    height: 160px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px; }
    .posts-container .post-info-container .title {
      margin-bottom: 20px;
      text-transform: uppercase; }
      .posts-container .post-info-container .title a {
        display: block; }
  .posts-container .image {
    width: 160px;
    height: 160px;
    float: left; }
    .posts-container .image img {
      max-width: 100%; }

.story-page .main-heading {
  margin-bottom: 10px; }

.story-long {
  margin-bottom: 40px; }
  @media only screen and (min-width: 576px) {
    .story-long {
      margin-bottom: 60px; } }
  @media only screen and (min-width: 768px) {
    .story-long {
      margin-bottom: 100px; } }
  @media only screen and (min-width: 992px) {
    .story-long {
      margin-bottom: 140px; } }
  .story-long p {
    font-size: 1.16667rem;
    color: black; }
  .story-long .story__image {
    width: 330px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 576px) {
      .story-long .story__image {
        margin-left: 0;
        margin-right: 0; } }
    @media only screen and (min-width: 576px) {
      .story-long .story__image:nth-of-type(even) {
        margin-left: 15px;
        float: right; } }
    @media only screen and (min-width: 576px) {
      .story-long .story__image:nth-of-type(odd) {
        margin-right: 15px;
        float: left; } }
    .story-long .story__image img {
      max-width: 100%; }

.main-sidebar-right {
  margin-right: auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#8c0032), color-stop(65%, #8c0032), color-stop(65%, #c2185b));
  background-image: linear-gradient(to left, #8c0032, #8c0032 65%, #c2185b 65%);
  padding-bottom: 20px; }
  @media only screen and (min-width: 1200px) {
    .main-sidebar-right {
      max-width: 350px; } }
  .main-sidebar-right .page-name {
    font-weight: 400;
    padding: 20px 25px;
    margin-bottom: 20px; }
  .main-sidebar-right .slider-item:not(:last-of-type) {
    margin-bottom: 20px; }
  .main-sidebar-right .item-box {
    font-size: 12px;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-sidebar-right .item-box__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 36px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; }
    .main-sidebar-right .item-box__title a {
      color: #a3395d; }
  .main-sidebar-right .girl .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400; }
  .main-sidebar-right .service .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    text-transform: capitalize; }
  .main-sidebar-right .story .item-box__info {
    padding: 15px; }
    .main-sidebar-right .story .item-box__info a {
      /*width: 100%;*/
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400; }
  .main-sidebar-right .item-box__info {
    background-color: rgba(247, 107, 150, 0.7);
    min-height: 36px;
    max-height: 90px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-sidebar-right .item-box__info a {
      display: block;
      max-height: 90px; }

.product-card {
  position: relative;
  font-weight: 300;
  margin-bottom: 110px;
  padding-bottom: 30px;
  background-color: #c2185b; }
  .product-card .prev,
  .product-card .next {
    position: absolute;
    top: 0;
    right: 0; }
    .product-card .prev button,
    .product-card .next button {
      text-align: center;
      border: none;
      background: #dfb8c6;
      display: inline-block;
      width: 80px;
      height: 80px;
      cursor: pointer; }
      .product-card .prev button:before,
      .product-card .next button:before {
        content: '\f105';
        font-size: 60px;
        font-weight: 700;
        font-family: 'FontAwesome';
        color: #8c0032; }
  .product-card .prev {
    right: 81px; }
    .product-card .prev button:before {
      content: '\f104'; }
  .product-card .page-name {
    padding: 25px 0 50px; }
  .product-card .headline {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #8c0032;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; }
    .product-card .headline.about {
      margin-bottom: 0; }
  .product-card .description {
    font-weight: 300;
    background-color: #fa5788;
    padding: 20px; }
  .product-card .categories,
  .product-card .services {
    padding: 16px 24px;
    margin-bottom: 10px;
    background-color: #fa5788; }
    .product-card .categories a,
    .product-card .services a {
      font-weight: 300;
      text-transform: uppercase; }
      .product-card .categories a:hover,
      .product-card .services a:hover {
        color: #e6e6e6; }
  .product-card .services {
    margin-bottom: 30px; }

.price-block {
  position: relative; }
  .price-block__tabs .currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 7px;
    background-color: #fa5788; }
    .price-block__tabs .currency > a {
      display: block;
      font-size: 12px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 2px 20px;
      text-transform: uppercase;
      width: 33.33333%; }
      .price-block__tabs .currency > a.active {
        background-color: #de4072; }
  .price-block__tabs .titles {
    margin-bottom: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fa5788; }
    .price-block__tabs .titles > div {
      display: block;
      width: 33.33333%;
      font-size: 12px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 2px 20px;
      text-transform: uppercase; }
  .price-block__prices {
    margin-bottom: 30px; }
    .price-block__prices > ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .price-block__prices .price-list {
      display: none; }
      .price-block__prices .price-list.active {
        display: block; }
    .price-block__prices .price-item {
      font-size: 12px;
      text-transform: uppercase;
      background-color: #fa5788;
      padding: 10px 20px;
      margin-bottom: 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .price-block__prices .price-item span {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        width: 33.33333%; }
      .price-block__prices .price-item .duration {
        text-align: left; }
      .price-block__prices .price-item .outcall {
        text-align: right; }
      .price-block__prices .price-item .incall {
        text-align: center; }

.photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px; }
  .photo-block .order-button {
    display: block;
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 16px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(153, 19, 23, 0.9);
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rbga(0, 0, 0, 0.5);
            box-shadow: 0 0 4px rbga(0, 0, 0, 0.5); }
  .photo-block a {
    outline: none; }
  .photo-block__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; }
  .photo-block__list {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; }

.body {
  position: relative !important; }

.left-menu-button {
  background-color: white;
  top: 160px;
  left: 0;
  position: fixed;
  color: black;
  width: 70px;
  height: 70px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  text-align: right;
  z-index: 9999;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); }
  .left-menu-button button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: right;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .left-menu-button button::after {
      font-family: 'FontAwesome';
      color: #8c0032;
      font-size: 42px;
      content: '\f105'; }

.left-menu-button__wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden; }

.main-sidebar-close {
  top: 10px;
  right: 10px;
  position: absolute;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    .main-sidebar-close {
      display: none; } }

.main-sidebar-menu-js {
  display: none;
  -webkit-transition: .3 all;
  transition: .3 all; }
  .main-sidebar-menu-js.visible {
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 10000;
    display: block; }

.main-sidebar-menu {
  margin-left: auto;
  position: relative;
  background-color: #8c0032; }
  @media only screen and (min-width: 1200px) {
    .main-sidebar-menu {
      max-width: 350px; } }
  .main-sidebar-menu ul {
    list-style: none;
    margin-bottom: 0; }
  .main-sidebar-menu .page-name {
    padding: 25px 25px 60px;
    background-color: #c2185b; }

.sb-heading-main {
  background-color: #eed9e0;
  color: #8c0032;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 20px 20px;
  text-transform: uppercase; }

.sb-heading-main__link {
  display: block;
  color: #8c0032; }
  .sb-heading-main__link:hover {
    color: #8c0032; }
  .sb-heading-main__link[data-toggle="collapse"] {
    position: relative; }
  .sb-heading-main__link[aria-expanded="false"]::before, .sb-heading-main__link[aria-expanded="true"]::before {
    content: '\f0d7';
    color: #af4e71;
    display: block;
    position: absolute;
    top: -4px;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 16px; }
  .sb-heading-main__link[aria-expanded="true"]::before {
    content: '\f0d8'; }

.category-heading {
  font-size: 12px;
  font-weight: 500;
  padding-left: 45px;
  text-transform: capitalize; }
  .category-heading a {
    display: block;
    padding: 3px 0 14px; }
  .category-heading a[data-toggle="collapse"] {
    position: relative; }
  .category-heading a[aria-expanded="false"]::before, .category-heading a[aria-expanded="true"]::before {
    content: '\f0d7';
    color: #d5a2b4;
    display: block;
    position: absolute;
    top: -4px;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 16px; }
  .category-heading a[aria-expanded="true"]::before {
    content: '\f0d8'; }

.category-list {
  padding-left: 65px;
  overflow: hidden; }

.category-list:not(:last-of-type) {
  border-bottom: 3px solid #af0f4c; }

.category-list__item {
  margin-bottom: 16px;
  text-transform: uppercase;
  position: relative; }
  .category-list__item::before {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 5px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: inline-block;
    content: '-'; }
  .category-list__item a {
    display: block; }

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .social-list {
      z-index: 100; } }
  @media only screen and (min-width: 992px) {
    .social-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: fixed;
      top: 125px;
      right: 0;
      background-color: #ca567e;
      padding: 15px 10px 15px 20px; } }
  .social-list li:not(:last-of-type) {
    margin-right: 7px; }
    @media only screen and (min-width: 992px) {
      .social-list li:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 7px; } }
  .social-list .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #deb3c3;
    background-color: white;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
    @media only screen and (min-width: 768px) {
      .social-list .social-link {
        background-color: #deb3c3; } }
    @media only screen and (min-width: 768px) {
      .social-list .social-link:hover {
        background-color: white; } }
  .social-list .fa::before {
    color: #971443;
    font-size: 14px; }
    @media only screen and (min-width: 992px) {
      .social-list .fa::before {
        color: #ca567e; } }

.main-header {
  min-height: 57px;
  background-color: #c2185b;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .main-header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      background-color: #8c0032; } }
  @media only screen and (min-width: 992px) {
    .main-header {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
          -ms-flex-direction: initial;
              flex-direction: initial; } }
  @media only screen and (min-width: 768px) {
    .main-header__logo {
      position: absolute;
      left: 50%;
      top: 6px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      margin-right: 30px; } }
  @media only screen and (min-width: 992px) {
    .main-header__logo {
      position: static;
      -webkit-transform: translate(45px, 0);
              transform: translate(45px, 0); } }
  .main-header__logo .logo-image {
    margin-right: auto;
    width: 77px;
    height: 34px;
    background-image: url("../img/brand-logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .main-header__bottom-line {
    background-color: #8c0032;
    min-height: 60px;
    padding-top: 20px;
    padding-bottom: 68px;
    margin-bottom: 20; }
    @media only screen and (min-width: 768px) {
      .main-header__bottom-line {
        margin-bottom: 20px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fce1ea; } }
  .main-header__contacts {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 768px) {
      .main-header__contacts {
        padding-top: 15px;
        padding-bottom: 15px; } }
    @media only screen and (min-width: 1200px) {
      .main-header__contacts {
        padding-top: 0;
        padding-bottom: 0; } }
    @media only screen and (min-width: 768px) {
      .main-header__contacts,
      .main-header__contacts a {
        color: black; } }
    @media only screen and (min-width: 1200px) {
      .main-header__contacts,
      .main-header__contacts a {
        color: white; } }
    .main-header__contacts .phone-icon {
      text-align: center; }
      .main-header__contacts .phone-icon .fa-phone::before {
        font-size: 40px;
        color: #fa5788; }
    .main-header__contacts .phone-number {
      font-size: 28px;
      font-weight: 300;
      position: relative;
      color: #fa5788; }
      @media only screen and (min-width: 768px) {
        .main-header__contacts .phone-number {
          color: black; } }
      @media only screen and (min-width: 1200px) {
        .main-header__contacts .phone-number {
          color: white; } }
    @media only screen and (min-width: 768px) {
      .main-header__contacts .phone-number span {
        position: absolute;
        top: 10px;
        left: 0;
        -webkit-transform: translate(-110%, 0);
                transform: translate(-110%, 0);
        font-size: 32px; } }
    .main-header__contacts .phone-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0 0 10px; }
      @media only screen and (min-width: 768px) {
        .main-header__contacts .phone-links {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
      .main-header__contacts .phone-links li:not(:last-of-type) {
        margin-right: 10px; }
    .main-header__contacts ul li a {
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      padding-top: 0px; }
    .main-header__contacts ul li a:hover {
      color: white; }
  .main-header__social {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (min-width: 768px) {
      .main-header__social {
        position: absolute;
        z-index: 100;
        top: 10px;
        left: 10px; } }
    @media only screen and (min-width: 1200px) {
      .main-header__social {
        position: fixed;
        top: 50px;
        right: 10px; } }
  .main-header__multiling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px; }
    @media only screen and (min-width: 992px) {
      .main-header__multiling {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        text-transform: uppercase; } }
    .main-header__multiling .lang-wrapper {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      .main-header__multiling .lang-wrapper a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
      .main-header__multiling .lang-wrapper button {
        display: block;
        width: 100%;
        padding: 4px 12px;
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        color: white;
        -webkit-transition: .3s background-color;
        transition: .3s background-color; }
        @media only screen and (min-width: 768px) {
          .main-header__multiling .lang-wrapper button {
            background-color: #a73b61; } }
        .main-header__multiling .lang-wrapper button.active, .main-header__multiling .lang-wrapper button:hover {
          background-color: #cf94a9;
          text-decoration: underline; }

.navbar {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  border: none;
  border-radius: 0px;
  text-transform: uppercase; }

/****************************/
/*      BUTTON ICON         */
/****************************/
.navbar .navbar-toggler {
  outline: none; }

.navbar .navbar-toggler-icon .fa-bars::before {
  color: white; }

.navbar-main {
  margin: auto; }

.navbar-main li {
  padding: 0px 0px;
  border-bottom: 3px solid transparent;
  -webkit-transition-property: border-bottom-color, background-color;
  transition-property: border-bottom-color, background-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  background-color: #c2185b; }
  @media only screen and (min-width: 768px) {
    .navbar-main li {
      background-color: #8c0032; } }
  .navbar-main li > a.nav-link,
  .navbar-expand-lg .navbar-main li > a.nav-link {
    padding: 16px 15px 14px; }

.navbar-main li:hover,
.navbar-main li.active {
  border-color: #FFC1E3;
  background: #A3335B; }

.navbar-main li a:hover {
  color: white;
  text-decoration: none; }

.main-footer {
  padding: 25px 25px 20px;
  background-color: #c2185b; }
  @media only screen and (min-width: 768px) {
    .main-footer {
      background-color: #8c0032; } }
  @media only screen and (min-width: 1200px) {
    .main-footer {
      padding-top: 40px; } }
  .main-footer p {
    font-weight: 300;
    margin: 0; }

@media only screen and (min-width: 768px) {
  .main-footer__top-line {
    border-top: 1px solid #f7b5cb;
    background: #fce1ea;
    height: 60px; } }

.main-footer__brand-name {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px; }
  @media only screen and (min-width: 768px) {
    .main-footer__brand-name {
      display: none; } }

.main-footer__info {
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .main-footer__info {
      display: block;
      margin-bottom: 16px; } }

.main-footer__copy {
  text-align: center; }

.main-footer__nav {
  display: none;
  margin-bottom: 20px;
  text-transform: uppercase; }
  @media only screen and (min-width: 1200px) {
    .main-footer__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.main-footer__logo {
  display: none; }
  @media only screen and (min-width: 1200px) {
    .main-footer__logo {
      display: block; } }
  .main-footer__logo .logo-image {
    position: relative;
    margin-top: 25px;
    margin-right: auto;
    width: 125px;
    height: 55px;
    background-image: url("../img/brand-logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .main-footer__logo .logo-image__lips {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 51px;
    -webkit-transform: translate(80%, 80%);
            transform: translate(80%, 80%);
    background-image: url("../img/lips.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.main-footer__to-top {
  -ms-flex-item-align: center;
      align-self: center; }

.to-top-button {
  border: none;
  background: #dfb8c6;
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer; }
  .to-top-button::before {
    content: '\f106';
    font-size: 60px;
    font-weight: 700;
    font-family: 'FontAwesome';
    color: #8c0032; }

.infobox-main {
  background-color: #c2185b; }

.pagination li a, .pagination li span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #8c0032;
  border-radius: 4px;
  margin: 5px; }

.pagination li.active a {
  background-color: #8c0032; }

.top-form-how-to-order {
  padding-left: 30px;
  padding-right: 30px; }
  .top-form-how-to-order .page-name {
    padding-left: 0;
    padding-right: 0; }

@media only screen and (min-width: 1200px) {
  .booking-page .top-form {
    margin-bottom: 60px; } }

.video-block {
  margin-bottom: 40px; }
  .video-block video {
    max-width: 100%; }
  .video-block__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .video-block__title {
        color: black; } }

body {
  position: relative; }
  @media only screen and (min-width: 768px) {
    body {
      background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
      background-position: 60px 31px, 150px 35px, 230px 26px, 396px 41px, 473px 64px, 583px 54px, 583px 54px, 460px 138px, 299px 137px, 375px 206px;
      background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 1200px) {
    body {
      background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
      background-position: 60px 50px, 150px 54px, 230px 45px, 396px 60px, 473px 83px, 583px 73px, 583px 73px, 460px 157px, 299px 156px, 375px 225px;
      background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
      background-repeat: no-repeat; } }

@media only screen and (min-width: 1200px) {
  .main-header {
    background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
    background-position: 60px 110px, 150px 114px, 230px 105px, 396px 120px, 473px 143px, 583px 133px, 583px 133px, 460px 217px, 299px 216px, 375px 285px;
    background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
    background-repeat: no-repeat; } }

.navbar-bottom {
  background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
  background-position: 60px 50px, 150px 54px, 230px 45px, 396px 60px, 473px 83px, 583px 73px, 583px 73px, 460px 157px, 299px 156px, 375px 225px;
  background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 768px) {
    .navbar-bottom {
      background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
      background-position: 60px -30px, 150px -26px, 230px -35px, 396px -20px, 473px 3px, 583px -7px, 583px -7px, 460px 77px, 299px 76px, 375px 145px;
      background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
      background-repeat: no-repeat; } }
  @media only screen and (min-width: 1200px) {
    .navbar-bottom {
      background-image: url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg"), url("../img/buble.svg");
      background-position: 60px -30px, 150px -26px, 230px -35px, 396px -20px, 473px 3px, 583px -7px, 583px -7px, 460px 77px, 299px 76px, 375px 145px;
      background-size: 125px,
 104px,
 123px,
 102px,
 90px,
 46px,
 46px,
 80px,
 147px,
 107px;
      background-repeat: no-repeat; } }

/*# sourceMappingURL=styles.css.map */
