.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

html {
  font-size: 16px; }

html,
body {
  margin: 0; }

body {
  background-color: #f48fb1;
  font-size: 1rem;
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden; }

h1,
h2,
h3 {
  font-weight: 400; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

input,
textarea,
select,
button,
label {
  font-size: 1rem;
  font-family: "Roboto", Helvetica, sans-serif; }

a {
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

.subheading-main,
.heading-main,
.page-name {
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500; }

.subheading-main {
  font-size: 16px; }

.heading-main {
  font-size: 20px;
  padding: 1.8em 0; }

.page-name {
  padding-bottom: .8em; }

.site-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }

.dir-tree-links {
  margin-top: 70px;
  margin-bottom: 20px;
  color: black; }
  .dir-tree-links a {
    color: black;
    font-size: 14px;
    font-weight: 400; }

.main-slider-container {
  color: #eed9e0;
  background-color: #c2185b;
  padding: 15px; }
  .main-slider-container .slider-item {
    padding: .6em; }

.new-girls-slider {
  padding: 1em 2em 2rem; }
  .new-girls-slider .girl-card {
    height: 330px;
    padding: 15px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .new-girls-slider .girl-card__photo {
      max-width: 100%; }
    .new-girls-slider .girl-card__name {
      background-color: #fa5788;
      display: inline-block;
      width: 100%;
      color: #eed9e0;
      font-size: 18px;
      padding: .4em; }

.last-response {
  background-color: #8c0032;
  color: #eed9e0;
  padding: 20px 20px 25px;
  position: relative; }

.last-response .iconblock {
  position: absolute;
  right: 20px;
  top: 20px; }

.last-response .pencil,
.last-response .msgbox {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.last-response .pencil {
  background-image: url(/img/icons/icon-pencil.jpg); }

.last-response .msgbox {
  background-image: url(/img/icons/icon-chatbox.jpg); }

.response__quote {
  padding-top: 30px; }

.response__author {
  text-align: right; }
  .response__author cite {
    font-style: normal; }

.home-main-section {
  padding-top: 30px;
  color: black; }
  .home-main-section a {
    color: black; }
  .home-main-section .links-tree {
    font-size: 18px;
    font-weight: 400; }
    .home-main-section .links-tree a:not(:last-of-type)::after {
      content: ' >'; }

.items-block {
  color: black; }
  .items-block__item {
    height: 330px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 130px; }
    .items-block__item .info-card {
      color: white;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%); }
      .items-block__item .info-card .wrapper {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 85%;
        margin: 0 auto;
        background-color: #fa5788;
        padding: 1em; }
      .items-block__item .info-card a {
        color: white; }

.info-card {
  width: 100%; }
  .info-card__name {
    text-align: center; }
    .info-card__name a {
      display: inline-block;
      width: auto;
      text-transform: uppercase; }
  .info-card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 0;
    text-transform: uppercase; }
  .info-card__more-info {
    line-height: 1.1;
    text-overflow: ellipsis; }

.application-form {
  background-color: #c2185b;
  padding: 30px; }
  .application-form .page-name {
    font-size: 24px; }
  .application-form .heading-main {
    font-weight: 400;
    padding-top: .4em;
    padding-bottom: .8em; }
  .application-form .text {
    font-size: 20px; }
  .application-form form > .row > div {
    margin-bottom: 24px; }
  .application-form form > .row > span {
    padding-left: 15px;
    padding-right: 15px;
    display: block; }
  .application-form form input::-webkit-input-placeholder,
  .application-form form textarea::-webkit-input-placeholder {
    color: white; }
  .application-form form input:-ms-input-placeholder,
  .application-form form textarea:-ms-input-placeholder {
    color: white; }
  .application-form form input::-ms-input-placeholder,
  .application-form form textarea::-ms-input-placeholder {
    color: white; }
  .application-form form input::placeholder,
  .application-form form textarea::placeholder {
    color: white; }
  .application-form form input[type=email]:focus,
  .application-form form input[type=text]:focus,
  .application-form form textarea:focus {
    outline: none; }
  .application-form form input[type=email], .application-form form input[type=text],
  .application-form form textarea {
    width: 100%;
    padding: 15px 20px;
    border: none;
    background-color: #fa5788;
    color: white; }
  .application-form form .upload-photo .title {
    font-size: 18px;
    margin-bottom: 15px; }
  .application-form .upload-photo .upload-label {
    -webkit-box-shadow: 0 0 2px rbga(0, 0, 0, 0.3);
            box-shadow: 0 0 2px rbga(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #eed9e0;
    color: black;
    font-size: 18px; }
  .application-form .upload-photo .upload-input {
    display: none; }
  .application-form .submit button {
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: #eed9e0;
    color: black;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase; }

.application-ask {
  background-color: #8c0032;
  padding: 30px; }
  .application-ask .msg-block {
    font-size: 18px;
    margin-bottom: 15px; }
    .application-ask .msg-block p {
      text-transform: uppercase;
      margin-bottom: 0; }
  .application-ask .image {
    background-image: url(../img/cat-small.jpg);
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%; }

.girl-info {
  padding: 15px 15px 30px;
  background-color: #c2185b;
  margin-bottom: 80px; }

.girl-info__title {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  text-transform: uppercase; }

.girl-info__card {
  margin-top: 45px; }

.card__photo-section {
  padding-left: 0;
  padding-right: 0; }
  .card__photo-section .photo {
    height: 340px;
    background-position: center;
    background-size: cover; }

.card__info-list ul {
  padding-left: 0;
  margin-left: 0; }

.info-list__item {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fa5788;
  padding: 12px 20px;
  list-style-type: none;
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card__description {
  padding: 20px 0; }

.articles-box {
  padding-top: 15px;
  background-color: #c2185b;
  margin-bottom: 80px; }
  .articles-box__title {
    padding-left: 30px;
    padding-right: 15px;
    font-size: 18px;
    text-transform: uppercase; }

.articles__list ul {
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0; }
  .list-item:not(:last-of-type) {
    border-bottom: 2px solid #c2185b; }
  .list-item .photo {
    -ms-flex-preferred-size: 155px;
        flex-basis: 155px;
    max-width: 155px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 155px;
    height: 155px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .list-item .article {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.article {
  background-color: #8c0032; }
  .article__title {
    padding: 10px 10px 0;
    text-transform: uppercase;
    font-size: 16px; }
  .article__text {
    font-size: 12px;
    padding: 5px 10px 10px; }

.main-info-box {
  color: black;
  margin-bottom: 80px; }
  .main-info-box p {
    font-size: 12px; }

.info-box__heading {
  font-size: 20px; }

.bottom-items-slider {
  padding: 45px 115px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8c0032), color-stop(35%, #8c0032), color-stop(35%, #c2185b));
  background-image: linear-gradient(to top, #8c0032, #8c0032 35%, #c2185b 35%); }
  .bottom-items-slider .item-box {
    font-size: 12px;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .bottom-items-slider .item-box__title {
    height: 36px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bottom-items-slider .item-box__title a {
      color: #a3395d; }
  .bottom-items-slider .girl .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px; }
  .bottom-items-slider .service .item-box__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .bottom-items-slider .story .item-box__info {
    padding: 15px; }
    .bottom-items-slider .story .item-box__info a {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
  .bottom-items-slider .item-box__info {
    background-color: rgba(247, 107, 150, 0.7);
    min-height: 36px;
    max-height: 90px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .bottom-items-slider .item-box__info a {
      display: block;
      max-height: 90px; }

.error-page {
  padding-top: 90px;
  padding-bottom: 90px; }
  .error-page .error-box {
    color: #c04372;
    width: 160px;
    height: 160px;
    background-color: white;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
    font-weight: 500; }
    .error-page .error-box:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
      background-color: white;
      position: absolute;
      z-index: -100; }
    .error-page .error-box .heading {
      font-size: 44px; }
    .error-page .error-box .text {
      font-size: 18px; }
  .error-page .error-msg {
    font-size: 18px;
    padding-left: 20px;
    border-left-color: white;
    border-left-style: solid;
    border-width: 0; }
    .error-page .error-msg .heading {
      font-size: 20px;
      font-weight: 500; }
  .error-page a {
    font-weight: 500;
    border-bottom: 2px solid white; }

.infobox-main {
  background-color: #c2185b; }

/*# sourceMappingURL=index.css.map */
