.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

:root {
  font-size: 16px;
  font-family: "Roboto", Helvetica, sans-serif !important;
  line-height: 1.4;
  font-weight: 400; }

html,
body {
  margin: 0; }

body {
  background-color: #f48fb1; }

h1,
h2,
h3 {
  font-weight: 400; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

input,
textarea,
select,
button {
  font-size: 1rem;
  font-family: "Roboto", Helvetica, sans-serif; }

a {
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

.subheading-main,
.heading-main {
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500; }

.subheading-main {
  font-size: 16px; }

.heading-main {
  font-size: 20px;
  padding: 1.8em 0; }

.site-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.main-slider-container {
  color: #eed9e0;
  background-color: #c2185b;
  padding: 15px; }

.slider-item {
  padding: .6em; }

.new-girls-slider {
  padding: 1em 2em 2rem; }

.girl-card {
  height: 330px;
  padding: 15px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .girl-card__photo {
    max-width: 100%; }
  .girl-card__name {
    background-color: #fa5788;
    display: inline-block;
    width: 100%;
    color: #eed9e0;
    font-size: 18px;
    padding: .4em; }

.last-response {
  background-color: #8c0032;
  color: #eed9e0;
  padding: 20px 20px 25px;
  position: relative; }

.last-response .iconblock {
  position: absolute;
  right: 20px;
  top: 20px; }

.last-response .pencil,
.last-response .msgbox {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px; }

.last-response .pencil {
  background-image: url(/img/icons/icon-pencil.jpg); }

.last-response .msgbox {
  background-image: url(/img/icons/icon-chatbox.jpg); }

.response__quote {
  padding-top: 30px; }

.response__author {
  text-align: right; }
  .response__author cite {
    font-style: normal; }

.home-main-section {
  padding-top: 30px;
  color: black; }
  .home-main-section a {
    color: black; }
  .home-main-section .links-tree {
    font-size: 18px;
    font-weight: 400; }
    .home-main-section .links-tree a:not(:last-of-type)::after {
      content: ' >'; }

.items-block {
  color: black; }
  .items-block__item {
    height: 330px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 130px; }
    .items-block__item .info-card {
      color: white;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%); }
      .items-block__item .info-card .wrapper {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 85%;
        margin: 0 auto;
        background-color: #fa5788;
        padding: 1em; }
      .items-block__item .info-card a {
        color: white; }

.info-card__name {
  text-align: center; }
  .info-card__name a {
    display: inline-block;
    width: auto;
    text-transform: uppercase; }

.info-card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
  text-transform: uppercase; }

.info-card__more-info {
  line-height: 1.1;
  text-overflow: ellipsis; }

.application {
  background-color: #c2185b;
  padding: 30px; }
  .application form > .row {
    margin-bottom: 24px; }
    .application form > .row > span {
      padding-left: 15px;
      padding-right: 15px;
      display: block; }
  .application form input,
  .application form textarea {
    width: 100%;
    padding: 15px 20px;
    border: none;
    background-color: #fa5788; }

.infobox-main {
  background-color: #c2185b; }

/*# sourceMappingURL=index.css.map */
